@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Login/Login" method="post">
    Email: 
<input type="text" name="txtemail"/>
Password:
<input type="password" name="txtpass"/>
<input type="submit"/>
</form>
