@{
    ViewData["Title"] = "Home Page";
    Layout = "~/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<Repository.Models.Post>
<table class="table">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Created</td>

        </tr>
        }
    </tbody>
</table>
