@@{
    ViewData["Title"] = "Change Password Page";
}
<h1 style="margin-bottom:20px ;" class="display-4">CHANGEPASSWORD</h1>
<form action="/Profile/ChangePassword" method="post">
    <div class="text-center">
    <input type="text" min="5" max="20" name="oldPassword" />

    </div>
    <div class="text-center">
    <input type="text" min="5" max="20" name="newPassword" />

    </div>
    <input type="submit" value="Edit" />
</form>