@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Repository.Models.Post
<form action="createPost" method="post">
    <div class="form-group">
        <input type="text" name="Id" placeholder="PostId" />
        <input type="text" name="Name" placeholder="Name" />
        <input type="text" name="Image" placeholder="Image" />
        <input type="text" name="Description" placeholder="Description" />
        <input type="text" name="CategoryId" placeholder="CategoryId" />
        <input type="text" name="UserId" placeholder="UserId" />
        <input type="number" name="Price" min="0" value="0" step=".01">
        <input type="date" id="Created" name="Created">
        <input type="date" id="Updated" name="Updated">
        <input type="number" name="Status" min="0" max="1" value="0" step="any">
        <input type="submit" value="Create" class="btn btn-danger" />
    </div>
</form>
